
.align-items-center {
  font-family: Roboto Condensed;
  color: #B62063;
  background-color: #FEFF89;
}
.glyphicon-menu-hamburger {
  margin-bottom: 5px;
}
.logo-text {
  color: #B62063;
  font-size: 34px;
  margin-left: 20px;
}
.nav .p {
  color: #B62063;
  font-size: 24px;
  margin: 10px;
}
.btn-nav {
  font-size: 18px;
  color: #B62063;
}

.jumbotron-fluid {
  width: 1380px;
  height: 500px;
  background: url('img/coffee.png');
  background-size: cover;
}
.jumbo-text {
  padding-left: 60px;
  padding-top: 50px;
  font-family: Roboto Condensed;
  font-size: 64px;
  color: #FEFF89;
}
.btn-jumbo-1 {
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 20px;
  border-color: #FEFF89; 
  color: #B62063;
  background-color: #FEFF89;
}
.btn-jumbo-2 {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  border-color: #B62063;
  color: #FEFF89;
  background-color: #B62063;
}
.services {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #D02B5B;
}
.services-text {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #FEFF89;
}
.services img {
  padding-left: 80px;
}
.popular {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2F2F2;
}
.popular img {
  height: 60%;
}
.alert {
  width: 400px;
  height: 300px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.alert h3, p {
  margin-top: 20px;
  color: #B62063
}